rules

List of Roles

- Super strength (Attacker)

Needs attacked by multiple villains/heroes to die


- Cloning (Attacker)

You gotta kill the right one or they do not die


- Lightning Control (Attacker)

Attacks with lightning. Lightning attack has three day cooldown but can insta-kill any target. 


- Invisibility (Utility)

Gets to know what one person did last night


- X-ray vision (Utility)

Can see one person’s party allegiance 


- Icer (Defender)

Can stop people from doing stuff


- Made of Iron (Tank)


- Reanimation (Healer)


- Pickle (chaos)

50% chance to kill a person each night at random



Everyone has powers on cooldown. Day night cycle, certain things can only happen during the day and some only at night
Instead of abilities like Werewolf it is powers that have cooldowns   7+ People each side has one defender but you don’t know who is good or evil



5 people: 2 evil 3 good, 0 defenders 
6 people:
7 people:
8 people:
9 people:
10 people:
11 people:
12 people: